@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
 
*,*::before,*::after{
    box-sizing: border-box;
    line-height: 1.3;
    letter-spacing: .3px;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.this{
    @apply h-3 w-3  rounded-full;
}
.inner-container{
    background-color: #364153;
}